name: JRuby Build

on:
  push:
    branches:
    - master
  pull_request:

jobs:
  transpile:
    runs-on: ubuntu-latest
    env:
      BUNDLE_JOBS: 4
      BUNDLE_RETRY: 3
      CI: true
    steps:
    - uses: actions/checkout@v2
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: 2.7
        bundler: 2.2.15
        bundler-cache: true
    - name: Transpile Ruby Next
      run: |
        make transpile
    - name: Store transpiled files
      uses: actions/upload-artifact@v1
      with:
        name: ruby-next-transpiled
        path: lib/.rbnext

  jruby-test:
    needs: transpile
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        core_ext: ["false", "gem", "generated"]
    env:
      CORE_EXT: ${{ matrix.core_ext }}
      BUNDLE_JOBS: 4
      BUNDLE_RETRY: 3
      CI: true
    steps:
    - uses: actions/checkout@v2
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: jruby
        bundler: 2.2.15
        bundler-cache: true
    - name: Restore transpiled files
      uses: actions/download-artifact@v1
      with:
        name: ruby-next-transpiled
        path: lib/.rbnext
    - name: Download MSpec
      run: |
        git clone https://github.com/ruby/mspec.git mspec
    - name: Run MSpec
      run: |
        bundle exec mspec/bin/mspec
    - name: Run language specs with AST mode
      env:
        RUBY_NEXT_TRANSPILE_MODE: "ast"
      run: bundle exec mspec/bin/mspec :language
