name: Build

on:
  push:
    branches:
    - master
  pull_request:

jobs:
  ruby-test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby: [2.5, 2.6, 2.7]
        core_ext: ["false", "gem", "generated"]
        exclude:
          - ruby: 2.7
            core_ext: "gem"
    env:
      CORE_EXT: ${{ matrix.core_ext }}
    steps:
    - uses: actions/checkout@v1
    - name: Set up Ruby
      uses: eregon/use-ruby-action@master
      with:
        ruby-version: ${{ matrix.ruby }}
    - name: Download MSpec
      run: |
        git clone https://github.com/ruby/mspec.git mspec
    - name: Install bundler
      run: |
        gem install bundler
    - name: Run MSpec with stable features
      env:
        USE_RUBYGEMS_PARSER: "1"
      run: |
        bundle install --jobs 4 --retry 3
        bundle exec mspec/bin/mspec :stable
    - name: Run MSpec with all features
      env:
        BUNDLE_RUBYGEMS__PKG__GITHUB__COM: "palkan:${{ secrets.GITHUB_TOKEN }}"
      run: |
        rm Gemfile.lock
        bundle install --jobs 4 --retry 3
        bundle exec mspec/bin/mspec
