name: Edge Ruby Build

on:
  push:
    branches:
    - master
  pull_request:
  workflow_dispatch:

jobs:
  ruby-edge-test:
    runs-on: ubuntu-latest
    env:
      BUNDLE_JOBS: 4
      BUNDLE_RETRY: 3
      CI: true
    steps:
    - uses: actions/checkout@v6
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: head
        bundler-cache: true
    - name: Run MSpec
      run: |
        bundle exec bin/mspec
