name: Build

on:
  push:
    branches:
    - master
  pull_request:

jobs:
  transpile:
    runs-on: ubuntu-latest
    env:
      BUNDLE_JOBS: 4
      BUNDLE_RETRY: 3
      CI: true
    steps:
    - uses: actions/checkout@v2
    - uses: actions/cache@v1
      with:
        path: /home/runner/bundle
        key: bundle-${{ hashFiles('../Gemfile') }}-${{ hashFiles('**/*.gemspec') }}
        restore-keys: |
          bundle-
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: 2.7
    - name: Bundle install
      run: |
        bundle config path /home/runner/bundle
        bundle install
        bundle update
    - name: Transpile Ruby Next
      run: |
        make transpile
    - name: Store transpiled files
      uses: actions/upload-artifact@v1
      with:
        name: ruby-next-transpiled
        path: lib/.rbnext

  ruby-test:
    needs: transpile
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby: [2.5, 2.6, 2.7, 3.0]
        core_ext: ["false", "gem", "generated"]
        exclude:
          - ruby: 2.7
            core_ext: "gem"
    env:
      CORE_EXT: ${{ matrix.core_ext }}
      BUNDLE_JOBS: 4
      BUNDLE_RETRY: 3
      CI: true
    steps:
    - uses: actions/checkout@v2
    - uses: actions/cache@v1
      with:
        path: /home/runner/bundle
        key: bundle-${{ matrix.ruby }}-${{ hashFiles('../Gemfile') }}-${{ hashFiles('**/*.gemspec') }}
        restore-keys: |
          bundle-${{ matrix.ruby }}-
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
    - name: Restore transpiled files
      uses: actions/download-artifact@v1
      with:
        name: ruby-next-transpiled
        path: lib/.rbnext
    - name: Download MSpec
      run: |
        git clone https://github.com/ruby/mspec.git mspec
    - name: Bundle install
      run: |
        bundle config path /home/runner/bundle
        bundle install
        bundle update
    - name: Run MSpec
      run: |
        bundle install --jobs 4 --retry 3
        bundle exec mspec/bin/mspec
    - name: Run language specs with AST mode
      env:
        RUBY_NEXT_TRANSPILE_MODE: "ast"
      run: bundle exec mspec/bin/mspec :language
