name: Build

on:
  push:
    branches:
    - master
  pull_request:

jobs:
  transpile:
    runs-on: ubuntu-latest
    env:
      BUNDLE_JOBS: 4
      BUNDLE_RETRY: 3
      CI: true
      BUNDLE_GEMFILE: ${{ matrix.gemfile }}
    steps:
    - uses: actions/checkout@v2
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: 3.1
        bundler-cache: true
    - name: Transpile Ruby Next
      run: |
        make transpile
    - name: Store transpiled files
      uses: actions/upload-artifact@v1
      with:
        name: ruby-next-transpiled
        path: lib/.rbnext

  ruby-test:
    needs: transpile
    timeout-minutes: 5
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby: [2.7, 3.0, 3.1, 3.2]
        core_ext: ["false", "gem", "generated"]
        exclude:
          - ruby: 2.7
            core_ext: "gem"
    env:
      CORE_EXT: ${{ matrix.core_ext }}
      BUNDLE_JOBS: 4
      BUNDLE_RETRY: 3
      BUNDLE_GEMFILE: ${{ matrix.gemfile }}
      CI: true
    steps:
    - uses: actions/checkout@v2
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true
    - name: Restore transpiled files
      uses: actions/download-artifact@v1
      with:
        name: ruby-next-transpiled
        path: lib/.rbnext
    - name: Run MSpec
      run: |
        bundle exec bin/mspec
    - name: Run language specs with AST mode
      env:
        RUBY_NEXT_TRANSPILE_MODE: "ast"
      run: bundle exec bin/mspec :language
