name: Build

on:
  push:
    branches:
    - master
  pull_request:

jobs:
  transpile:
    runs-on: ubuntu-latest
    env:
      BUNDLE_JOBS: 4
      BUNDLE_RETRY: 3
      CI: true
      BUNDLE_GEMFILE: ${{ matrix.gemfile }}
      # Use Next parser to ignore _1 is reserved errors when transpiling
      RUBY_NEXT_EDGE: true
    steps:
    - uses: actions/checkout@v6
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: 3.3
        bundler-cache: true
    - name: Make sure .rbnext dir is present
      run: |
        mkdir -p lib/.rbnext
        touch lib/.rbnext/.keep
    - name: Transpile Ruby Next
      run: |
        make transpile
    - name: Store transpiled files
      uses: actions/upload-artifact@v4
      with:
        name: ruby-next-transpiled
        path: lib/.rbnext
        include-hidden-files: true

  ruby-test:
    needs: transpile
    timeout-minutes: 5
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby: ["3.0", "3.1", "3.2", "3.3", "3.4", "4.0"]
        core_ext: ["false", "gem", "generated"]
    env:
      CORE_EXT: ${{ matrix.core_ext }}
      BUNDLE_JOBS: 4
      BUNDLE_RETRY: 3
      BUNDLE_GEMFILE: ${{ matrix.gemfile }}
      CI: true
    steps:
    - uses: actions/checkout@v6
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true
    - name: Restore transpiled files
      uses: actions/download-artifact@v4
      with:
        name: ruby-next-transpiled
        path: lib/.rbnext
    - name: Run MSpec
      run: |
        bundle exec bin/mspec
    - name: Run language specs using a default parser
      env:
        STABLE_RUBY: "true"
      run: bundle exec bin/mspec :language :integration :cli
