name: Build EOL

on:
  push:
    branches:
    - master
  pull_request:

jobs:
  transpile:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    env:
      BUNDLE_JOBS: 4
      BUNDLE_RETRY: 3
      CI: true
      # Use Next parser to ignore _1 is reserved errors when transpiling
      RUBY_NEXT_EDGE: true
    steps:
    - uses: actions/checkout@v2
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: 3.2
        bundler-cache: true
    - name: Transpile Ruby Next
      run: |
        make transpile
    - name: Store transpiled files
      uses: actions/upload-artifact@v2
      with:
        name: ruby-next-transpiled
        path: lib/.rbnext
    - name: Transpile language specs
      run: |
        make transpile-language-specs

  ruby-test:
    needs: transpile
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby: [2.5, 2.6]
        core_ext: ["false", gem, generated]
        core_strategy: [refine]
        include:
          - ruby: 2.7
            core_ext: false
            core_strategy: refine
          - ruby: 2.4
            core_ext: backports
            core_strategy: backports
    env:
      CORE_EXT: ${{ matrix.core_ext }}
      RUBY_NEXT_CORE_STRATEGY: ${{ matrix.core_strategy }}
      BUNDLE_JOBS: 4
      BUNDLE_RETRY: 3
      BUNDLE_GEMFILE: "gemfiles/eol.gemfile"
      CI: true
    steps:
    - uses: actions/checkout@v2
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true
    - name: Restore transpiled files
      uses: actions/download-artifact@v4.1.7
      with:
        name: ruby-next-transpiled
        path: lib/.rbnext
    - name: Run MSpec
      run: |
        bundle exec bin/mspec
      env:
        PRYRC: "spec/integration/fixtures/pry/.pryrc"
