name: TruffleRuby Build

on:
  push:
    branches:
    - master
  pull_request:
  workflow_dispatch:

jobs:
  transpile:
    runs-on: ubuntu-latest
    env:
      BUNDLE_JOBS: 4
      BUNDLE_RETRY: 3
      # Use Next parser to ignore _1 is reserved errors when transpiling
      RUBY_NEXT_EDGE: true
      CI: true
    steps:
    - uses: actions/checkout@v4
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: 3.3
        bundler-cache: true
    - name: Make sure .rbnext dir is present
      run: |
        mkdir -p lib/.rbnext
        touch lib/.rbnext/.keep
    - name: Transpile Ruby Next
      run: |
        make transpile
    - name: Store transpiled files
      uses: actions/upload-artifact@v4
      with:
        name: ruby-next-transpiled
        path: lib/.rbnext
        include-hidden-files: true

  truffle-test-core:
    needs: transpile
    timeout-minutes: 20
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby: [truffleruby]
      fail-fast: true
    env:
      BUNDLE_JOBS: 4
      BUNDLE_RETRY: 3
      BUNDLE_PATH: /home/runner/bundle
      CI: true
    steps:
    - uses: actions/checkout@v4
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true
    - name: Restore transpiled files
      uses: actions/download-artifact@v4
      with:
        name: ruby-next-transpiled
        path: lib/.rbnext
    - name: Run MSpec Core
      run: |
        bundle exec bin/mspec :core

  truffle-test-language:
    needs: transpile
    timeout-minutes: 30
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby: [truffleruby]
      fail-fast: true
    env:
      BUNDLE_JOBS: 4
      BUNDLE_RETRY: 3
      BUNDLE_PATH: /home/runner/bundle
      CI: true
    steps:
    - uses: actions/checkout@v4
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true
    - name: Restore transpiled files
      uses: actions/download-artifact@v4
      with:
        name: ruby-next-transpiled
        path: lib/.rbnext
    - name: Run MSpec Language
      run: |
        bundle exec bin/mspec :language

  truffle-test-integration:
    needs: transpile
    timeout-minutes: 20
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby: [truffleruby]
      fail-fast: true
    env:
      BUNDLE_JOBS: 4
      BUNDLE_RETRY: 3
      BUNDLE_PATH: /home/runner/bundle
      CI: true
    steps:
    - uses: actions/checkout@v4
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true
    - name: Restore transpiled files
      uses: actions/download-artifact@v4
      with:
        name: ruby-next-transpiled
        path: lib/.rbnext
    - name: Run MSpec integration
      run: |
        bundle exec bin/mspec :integration
